/* Navbar */
.is-active {
  color: #6c8eef !important;
}

/* Hero Section */
.space {
  background: linear-gradient(90deg, #f8faff 19px, transparent 1%) center,
    linear-gradient(#f8faff 19px, transparent 1%) center, #6c8eef;
  background-size: 22px 22px;
  transform: skewY(6deg);
}

.box-shadow-lift {
  box-shadow: rgba(0, 0, 0, 0.1) 0 7px 25px 0 !important;
}

.button-special:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px !important;
  transform: translateY(-5px);
}

.card {
  border-radius: 5px;
  border-bottom: 2px solid #6c8eef;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover {
  transform: translateY(-5px);
  border-bottom: 2px solid #505050;
}

.button-special {
  border: none !important;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.blockquote {
  padding: 10px;
  border-left: 3px solid rgb(92, 255, 92);
  color: #808080;
}

/* markdown */
#markdown {
  margin-top: 2rem;
  width: 100%;
  overflow: auto;
}

/* loader */
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.loader-wrapper .loader {
  height: 4rem;
  width: 4rem;
}

ul li {
  list-style-type: disc;
  list-style-position: outside;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
}
ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}
ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}
