/* Hero Section */
.space {
  background: linear-gradient(90deg, #f8faff 19px, transparent 1%) center,
    linear-gradient(#f8faff 19px, transparent 1%) center, #6c8eef;
  background-size: 22px 22px;
  transform: skewY(6deg);
}

.box-shadow-lift {
  box-shadow: rgba(0, 0, 0, 0.1) 0 7px 25px 0 !important;
}

.button-special:hover {
  background-color: #333;
  color: #ffffff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px !important;
  transform: translateY(-5px);
}

.button-special {
  border: none !important;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
