body {
  margin: 0;
  background-color: #f8faff !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

::selection {
  background-color: #013896;
  color: #f1f1f1;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  transition: all 0.3s ease-in-out;
}

/* Navbar */
.box-shadow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}

.footer {
  padding: 5rem 1.5rem 2rem !important;
  background-color: #f8faff !important;
  margin-top: auto;
}
